@font-face {
  font-family: 'Jua';
  src: url(./Font/Jua-Regular.ttf);
}

body {
  background-color: lightgoldenrodyellow;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 10% 80% 10%;
  height: 100vh;
  width: 100vw;
  margin: 0%;
}

h1 {
  border-color: solid black;
  display: flex;
  justify-content: center;
  padding: 15.625rem;
}

h2 {
  grid-column: 2;
  grid-row: 1;
  margin: 10%;
  font-size: 1.875rem;
  font-family: 'Jua';
  color: white;
}

header {
  grid-column: 1/5;
  background-color: navy;
}

.main {
  grid-column: 1/5;
  grid-row: 2/3;
  background-image: url(./IMG/fondo\ 4.png);
  background-size: contain;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  grid-column: 1/5;
  grid-row: 3/4;
  background-color: rgb(172, 37, 37);
  display: flex;
  justify-content: space-around;
  padding-top: .9375rem;
}

form {
  background-color: #FEB139;
}

.ventana {
  background-color: white;
  width: 30%;
  font-size: 40px;
  text-align: center;
  padding: 20%;
  min-height: 15%;
  border-radius: 22px;
  opacity: 0.5;
  position: absolute;
  left: 20%;
  top: 20%;
}

.ventana:hover {
  opacity: 1.0;
}

#Tori {
  width: 25.625rem;
  height: 30.625rem;
  background-image: url(./IMG/torii.png);
  background-size: contain;
  margin-top: 12%;
  margin-left: 40%;
  display: grid;
}

#Formulario {
  margin-top: 5%;
  margin-right: 15%;
}

#Fondo {
  margin-top: 5%;
  margin-right: 15%;
  width: 300px;
  height: 25rem;
  background-color: #FEB139;
}

#Omikuji {
  width: 12.5rem;
  grid-column: 2;
  grid-row: 4;

}

#Omikuji:hover {
  animation: vaiven 1s 1;
}

@keyframes vaiven {
  15% {
    transform: translateX(-25%) rotate(-10deg);
  }

  30% {
    transform: translateX(20%) rotate(5deg);
  }

  45% {
    transform: translateX(-10%) rotate(-3deg);
  }

  60% {
    transform: translateX(5%) rotate(2deg);
  }

  75% {
    transform: translateX(-3%) rotate(-1deg);
  }
}

#ganador {
  font-size: 40px;
  text-align: center;
  font-style: bold;
}

.window {
  background-color: rgba(206, 206, 206, 0.587);
  color: #F24C4C;
  text-align: center;
  font-size: 3.125rem;
  width: 31.25rem;
  height: 12.5rem;
  position: absolute;
  left: 35%;
  top: 35%;
  line-height: 12.5rem;
  border-radius: 22px;
}

#namesBox {
  border: 1px solid rgba(0, 0, 0, 0);
  font-family: 'Jua';
  font-size: 1.875rem;
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.219);
  margin: 2%;
  
}



/* Aquí empieza el nav  */

header {
  grid-column: 1/5;
  background-color: #143F6B;
  width: 100%;
  position: fixed;
  z-index: 100;
}

#logoNavegador {
  width: 70px;
}

.leftSide {
  float: left;
}

.rightSide {
  float: right;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

nav ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

.rightSide li:hover {
  background: #f24c4c;
}

/* Aquí termina el nav */

@media (max-width: 1024px) {

  .main {
    display: flex;
    flex-direction: column;
    background-size: cover;
  }

  #Tori {
    margin-top: 8%;
    margin-left: 18%;
  }
}