body {
    background-color: lightgoldenrodyellow;
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 10% 80% 10%;
    height: 100vh;
    width: 100vw;
    margin: 0%;
}
h1 {
    border-color: solid black;
    display: flex;
    justify-content: center;
    padding: 15.625rem;
}

.main {
    grid-column: 1/5;
    background-color: rgb(254, 254, 127);
}
footer {
    grid-column: 1/5;
    grid-row: 3/4;
    background-color: rgb(172, 37, 37);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Aquí empieza el nav  */

header {
  grid-column: 1/5;
  background-color: #143F6B;
  width: 100%;
  position: fixed;
  z-index: 100;
}

#logoNavegador {
  width: 70px;
}

.caja1 {
  float: left;
}
.caja1:hover{
  background-color: none;
}

.caja2 {
  float: right;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

nav ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

.caja2 li:hover {
  background: #f24c4c;
}

/* Aquí termina el nav */